<h1 mat-dialog-title>Crear una clases</h1>
<div mat-dialog-content>
    <form [formGroup]="classForm">
        <mat-form-field class="example-full-width">
            <mat-label>Id de la clase</mat-label>
            <input matInput disabled [value]="classForm.controls.class_id.value">
        </mat-form-field>
        <!-- Escuela -->
        <mat-form-field>
            <mat-label>Tienes Escuela</mat-label>
            <mat-select ng-disabled="text" formControlName="dance_school_id">
                <mat-option *ngFor="let danceSchool of danceSchools" [value]="danceSchool.dance_school_id">
                    {{"ID: " + '' + danceSchool.dance_school_id + ' / ' + " Escuela: " + ' ' + danceSchool.dance_school_name + ' / ' + " Creador: " + ' ' + danceSchool.user_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Profesor -->
        <mat-form-field>
            <mat-label>Profesor</mat-label>
            <mat-select formControlName="teacher_id">
                <mat-option *ngFor="let teacher of teachers" [value]="teacher.user_id">
                    {{"Id: " + '' + teacher.user_id + ' -- ' + " Nombre: " + ' ' + teacher.user_name + ' ' + teacher.last_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Nombre -->
        <mat-form-field>
            <mat-label>Nombre de la Clase</mat-label>
            <input matInput placeHolder="Nombre Clase" type="text" formControlName="class_name">
        </mat-form-field>
        <!-- Ubicación -->
        <mat-form-field>
            <mat-label>Ubicación</mat-label>
            <input matInput placeHolder="Ubicación" type="text" formControlName="location">
        </mat-form-field>
        <!-- Descripción -->
        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput placeHolder="description" type="text" formControlName="description">
        </mat-form-field>

        <!-- Modalidad -->
        <mat-form-field>
            <mat-label>Modalidad</mat-label>
            <mat-select placeholder="Modalidad" formControlName="modality">
                <mat-option></mat-option>
                <mat-option [value]="0">Directo</mat-option>
                <mat-option [value]="1">Online</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Precio -->
        <mat-form-field class="cuadrado">
            <mat-label>Precio</mat-label>
            <input matInput placeholder="30" type="number" formControlName="price">
        </mat-form-field>
        <!-- Fechas y hora -->
        <mat-form-field class="cuadrado">
            <input matInput type="date" placeholder="Fecha Inicio" formControlName="start_date">
        </mat-form-field>
        <mat-form-field class="cuadrado">
            <input matInput type="date" placeholder="Fecha Fin" formControlName="end_date">
        </mat-form-field>
        <mat-form-field class="cuadrado">
            <input matInput type="time" placeholder="Hora Inicio" formControlName="start_hour">
        </mat-form-field>
        <mat-form-field class="cuadrado">
            <input matInput type="time" placeholder="Hora Fin" formControlName="end_hour">
        </mat-form-field>
        <mat-form-field>
            <!-- Periodicidad -->
            <mat-label>Periodicidad</mat-label>
            <mat-select placeholder="Nivel de la clase" formControlName="level">
                <mat-option></mat-option>
                <mat-option [value]="'puntual'">Puntual</mat-option>
                <mat-option [value]="'mes'">Mes</mat-option>
                <mat-option [value]="'anual'">Anual</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Nivel -->
        <mat-form-field>
            <mat-label>Nivel</mat-label>
            <mat-select placeholder="Nivel de la clase" formControlName="level">
                <mat-option [value]="'1'">Inicial</mat-option>
                <mat-option [value]="'2'">Intermedio</mat-option>
                <mat-option [value]="'3'">Avanzado</mat-option>
                <mat-option [value]="'4'">Perfeccionamiento</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Estilo -->
        <mat-form-field>
            <mat-label>Estilo de baile favorito</mat-label>
            <mat-select formControlName="dance_style_id">
                <mat-option *ngFor="let dance_style of dance_styles" [value]="dance_style.dance_style_id">
                    {{dance_style.dance_style_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelClick()">Cancel</button>
    <button mat-button (click)="cleanForm()">limpiar</button>
    <button mat-raised-button class="submit-button" (click)="saveClick()">Crear</button>
</div>