<div class="shell">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let teacher of theTeacherList">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="https://3.bp.blogspot.com/-eDeTttUjHxI/WVSvmI-552I/AAAAAAAAAKw/0T3LN6jABKMyEkTRUUQMFxpe6PLvtcMMwCPcBGAYYCw/s1600/001-culture-clash-matthew-gianoulis.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>{{ teacher.name }}</span>
            </div>
            <div class="title-product">
              <h3>Flamenco</h3>
              <h2>Streaming</h2>
            </div>
            <div class="description-prod">
              <p>
                Description Product tell me how to change playlist height size
                like 600px in html5 player. player good work now check this link
              </p>
            </div>
            <div class="card-footer">
              <a
                [routerLink]="['/teacher-class', teacher.user_id]"
                class="wsk-btn"
                >VER CLASE</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngFor="let teacher of theTeacherList">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="https://3.bp.blogspot.com/-eDeTttUjHxI/WVSvmI-552I/AAAAAAAAAKw/0T3LN6jABKMyEkTRUUQMFxpe6PLvtcMMwCPcBGAYYCw/s1600/001-culture-clash-matthew-gianoulis.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>{{ teacher.name }}</span>
            </div>
            <div class="title-product">
              <h3>Bachata</h3>
              <h2>Streaming</h2>
            </div>
            <div class="description-prod">
              <p>
                Description Product tell me how to change playlist height size
                like 600px in html5 player. player good work now check this link
              </p>
            </div>
            <div class="card-footer">
              <a
                [routerLink]="['/teacher-class', teacher.user_id]"
                class="wsk-btn"
                >VER CLASE</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngFor="let teacher of theTeacherList">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="https://3.bp.blogspot.com/-eDeTttUjHxI/WVSvmI-552I/AAAAAAAAAKw/0T3LN6jABKMyEkTRUUQMFxpe6PLvtcMMwCPcBGAYYCw/s1600/001-culture-clash-matthew-gianoulis.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>{{ teacher.name }}</span>
           
            </div>
            <div class="title-product">
              <h3>Salsa</h3>
              <h2>Streaming</h2>
            </div>
            <div class="description-prod">
              <p>
                Description Product tell me how to change playlist height size
                like 600px in html5 player. player good work now check this link
              </p>
            </div>
            <div class="card-footer">
              <a
                [routerLink]="['/teacher-class', teacher.user_id]"
                class="wsk-btn"
                >VER CLASE</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngFor="let teacher of theTeacherList">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="https://3.bp.blogspot.com/-eDeTttUjHxI/WVSvmI-552I/AAAAAAAAAKw/0T3LN6jABKMyEkTRUUQMFxpe6PLvtcMMwCPcBGAYYCw/s1600/001-culture-clash-matthew-gianoulis.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>{{ teacher.name }}</span>
            </div>
            <div class="title-product">
              <h3>Hip Hop</h3>
              <h2>Streaming</h2>
            </div>
            <div class="description-prod">
              <p>
                Description Product tell me how to change playlist height size
                like 600px in html5 player. player good work now check this link
              </p>
            </div>
            <div class="card-footer">
              <a
                [routerLink]="['/teacher-class', teacher.user_id]"
                class="wsk-btn"
                >VER CLASE</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
