<!-- footer -->
    <div class="footer-container">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="second2">
                    <a href="https://www.linkedin.com/in/walther-elisabeth-j/"><img class="ico-banner" src="../../../assets/images/icon/linkedin-white.png" alt=""></a>
                    <a href="https://www.facebook.com/veronica.serranocanadas"><img class="ico-banner" src="../../../assets/images/icon/facebook-white.png" alt=""></a>
                    <a href="https://twitter.com/daancify"><img class="ico-banner" src="../../../assets/images/icon/twitter-white.png" alt=""></a>
                    <a href="https://www.instagram.com/veronicaOlily/"><img class="ico-banner" src="../../../assets/images/icon/instagram-white.png" alt=""></a>
                  </div>
              </div>
          </div>
          </div>
       
          <div class="container">
            <div class="row">
              <div class="col-12">
                   <div class="line"></div>
                   <p class="copy-text">© 2020 Daancify </p>
              </div>
              
            </div>
          </div>
  </div>


