.full-page {
  height: 520px;
  width: 400px;
  display: flex;
  box-sizing: content-box;


 
  @media only screen and (max-width: 900px)
 {
    height: 300px;
    display: flex;
    box-sizing: content-box;
}
}


mat-form-field {
  width: 100%;
}
.register-card {
  margin: auto;
  width: 300px;


}

@media only screen and (max-width:375px){
  .login-box{

    width: 99% !important;
    margin-top: 65px !important;

  }
  .container-form{
    display: flex;
    justify-content: center;
    align-items:center;
    border-top: 10 px solid red;
  }
  .registration-right{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
}
.example-margin {
  margin: 0 10px;
}
.title-form{
  justify-content: center;
  margin-bottom: 15px;
  /* margin: auto; */
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;

 
}
/* Cambiar de material */
.photoregister{
  height: 400px;
  width: 400px;
  margin-top: 60px;
 
}
.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: 0;

}
/* CSS Fernando */


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .form{
    margin-top: 106px;
  }
  .login-box{
    /* position: relative;
    margin: 2% auto; */
    margin-top: 3%;
    height: 100%;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: auto;
  }
  .container-form{
      width: 100%;
      margin: 0;
      display: flex;
      
  }
  .container-form-buttom-submit{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .padre{
    width: 100vw;
    border-top: 10px solid red;
  
  
  }
  .fotoregister{
    float: left;
    margin-top: 15px;
  }
  @media only screen and (max-width: 900px){
  .full-page{
      height: 750px;
      display: flex;
      box-sizing: content-box;
  }
  
  @media only screen and (max-width:750px){
    .fotoregister{
    display: none;
    width: 200px;
    height: 200px;
  
  
  }
  }
    
   
  @media only screen and (max-width: 736px) and (max-width: 900px){
  .register-card {
      align-content: center;
     
  }
  }
}
 
.submit-button {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #ff1717;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    margin-bottom: 15px;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  border-radius: 4px;
  margin-top: 10px;
  border-top: 10 px solid red;


}

.padre{
 
  border-top: 10px solid red;


}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
 
}