<!-- BACKGROUND VIDEO & TEXTO -->

<!-- <header>
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source
      src="../../../../assets/images/videos/dancers.mp4"
      type="video/mp4"
    />
  </video>
</header> -->
<!-- IMAGEN  -->
<div class="container-fluid container-image">
    <div class="row CoverImage">
        <div class=".col-sm|md|lg|xl container jumbotron Cover-imagen-text">
            <p class="lead ">Únete a las mejores clases de baile</p>
            <hr class="my-4">
            <p>¡Empieza ahora y consigue el <span>50%</span> de rebaja para tu primer curso!</p>


            <a class="btn btn-primary btn-lg" [routerLink]="['/registration']" role="button">¡Empieza ya a bailar!</a>
        </div>
    </div>
</div>
<!-- Banner ¿Eres profesor? -->
<div class="container-fluid container-info-teacher">
    <div class="row">
        <div class=".col-sm|md|lg|xl container container-info-teacher-text">
            <h2>¿Eres profesor? Si estas interesado en dar clases ya sea en <span class="text-important">directo</span> o <span class="text-important">streaming!</span></h2>
            <a class="btn btn-primary btn-lg" [routerLink]="['/registration']">Registrarse</a>
        </div>
    </div>
</div>
<!-- Banner info -->
<div class="container container-daancify">
    <div class="row">
        <div class="col-12 col-md-6 info-right">
            <!-- <img src="/assets/images/photos/hiphop3.png" alt=""> -->
        </div>
        <div class="col-12 col-md-6 info-left">
            <!-- <h1>Daancify</h1>
      <p>Conecta alumnos de danza con profesores y crea clases digitales en un solo click. </p> -->
            <div class="jumbotron jumbotron-fluid info-left-text">
                <div class="container">
                    <p class="info-left-text-cont">Conecta <span class="text-important">alumnos</span>
                        <p>de danza</p>
                        <br>
                        <p class="info-left-text-cont">con <span class="text-important">profesores</span>
                            <p>y crea clases</p>
                            <br>
                            <p>digitales en un </p>
                            <br>
                            <p>solo click!</p>
                            <!-- <p class="lead">Conecta alumnos de danza
             con profesores y crea clases digitales en un solo click.</p> -->
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Banner info 2 -->


<!-- Like -->
<div class="container container-daancify">
    <div class="row">
        <div class="col-12 container-like">
            <p>Encontrarás todos los estilos</p> 
            <p>de bailes</p>
            <p class="text-important"> !Vamos a bailar!</p>
        </div>

    </div>
</div>
<!-- Estilos de bailes -->
<div class="container text-center container-type">
    <div class="shell">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img">
                            <img src="../../../assets/images/photos/hip-hop-type.png" alt="Product" class="img-responsive" />
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Hip-Hop</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img"><img src="../../../assets/images/photos/hiphop2.png" alt="Product" class="img-responsive" /></div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Funky</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img"><img src="../../../assets/images/photos/streetdance2.jpg" alt="Product" class="img-responsive" /></div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Street Dance</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img"><img src="../../../assets/images/photos/zumba5.jpg" alt="Product" class="img-responsive" /></div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Zumba</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img">
                            <img src="../../../assets/images/photos/danza-española.png" alt="Product" class="img-responsive" />
                        </div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Danza Española</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img"><img src="../../../assets/images/photos/ballet6.jpg" alt="Product" class="img-responsive" /></div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Ballet</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wsk-cp-product">
                        <div class="wsk-cp-img"><img src="../../../assets/images/photos/tango.jpg" alt="Product" class="img-responsive" /></div>
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Tango</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
