mat-form-field {
    margin-right: 20px;
}

button {
    width: 180px;
    color: white;
    background-color: red;
    &:hover {
        background-color: gray;
        color: black;
    }
}

.imgbtn {
    color: white;
    background-color: cornflowerblue;
}
