<div class="row">
    <div class="col-12 col-md-5">
        <div class="card">
            <div class="card-body">
                <div style="display: block">
                    <canvas baseChart [data]="doughnutChartData1" [labels]="doughnutChartLabels1" [chartType]="doughnutChartType1">
                    </canvas>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="col-12 col-md-5">
        <div class="card">
            <div class="card-body">
                <div style="display: block">
                    <canvas baseChart [data]="doughnutChartData2" [labels]="doughnutChartLabels2" [chartType]="doughnutChartType2">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-5">
        <div class="card">
            <div class="card-body">
                <div style="display: block">
                    <canvas baseChart [data]="doughnutChartData3" [labels]="doughnutChartLabels3" [chartType]="doughnutChartType3">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5">
        <div class="card">
            <div class="card-body">
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
                </div>
                <button mat-button mat-raised-button color="primary" (click)="randomize()">Actualizar</button>
            </div>
        </div>
    </div>
</div> -->
