mat-form-field {
    margin-right: 20px;
}

button {
    width: 150px;
    &:hover {
        font-weight: bold;
        background-color: black;
        color: white;
    }
}

@media only screen and (max-width:375px) {
    .mobile-navbar {
        display: unset;
        visibility: visible;
    }
    .desktop-navbar {
        display: none;
        visibility: hidden;
    }
    .card {
        height: 530px;
        margin-top: 60px;
    }
    .container {
        height: 75vh;
    }
}