

.mobile-navbar{
    display: none;
    visibility: hidden;
}

.dark-logo {
    width: 60px;
}

.light-logo {
    width: 60px;
}

.navbar-header {
    background-color: whitesmoke;
}

.navbar-collapse {
    background-color: whitesmoke;
    height: 70px;
}

.redButton {
    color: red;
    padding-left: 30px;
    font-size: 16px;
    background-color:transparent;
  
    border-color: red;
    padding: 10px;
    text-transform: uppercase;
   
    .buttom-mobile{
text-align: left;
    }
    

  
}

.active{
    border-bottom:1px solid red;
}
.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: whitesmoke;

}
.topbar .profile-pic {
    width: 40px !important;
   
}
.arrow-profile{
    display: flex;
    align-items: center;
    justify-content: center
}
@media only screen and (max-width:375px){
    .mobile-navbar{
    visibility:visible;
    display: unset;
    }
    .desktop-navbar{
        visibility: hidden;
        display: none;
    }
}