<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Gestion de Usuarios</span>
        <div class="navigation-menu">
            <a [routerLink]="['/']">Home</a>
            <a [routerLink]="['/users']">Usuarios</a>
        </div>
        <span class="spacer"></span>
        <div>
            <span class="user" *ngIf="user">{{user?.name}} {{user?.surname}}</span>
            <mat-icon title="Log Out" (click)="logOut()">logout</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar> -->
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->


<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="../../../../assets/images/logos/logoRojo.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="../../../../assets/images/logos/logoBlanco.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text --><span>
                    <!-- dark Logo text -->
                    <img src="../../../../assets/images/logos/letrasRojas.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="../../../../assets/images/logos/letrasBlancas.png" class="light-logo"
                        alt="homepage" /></span> </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <div class="buttons desktop-navbar">
                <!-- Cuando nos estas logeado -->
                <div *ngIf="user">
                    <div *ngIf="user.user.user_type == 2">
                        <span><a class="redButton" [routerLink]="['home']" routerLinkActive="active"> Inicio </a></span>
                        <span><a class="redButton" [routerLink]="['/teacher/my-class']" routerLinkActive="active" > Mis clases </a></span>
                        <span><a class="redButton" [routerLink]="['/teacher/dance-school']" routerLinkActive="active"> Escuela</a></span>
                    </div>
                    <div *ngIf="user.user.user_type == 3">
                        <span><a class="redButton" [routerLink]="['/home']" routerLinkActive="active"> Inicio </a></span>
                        <span><a class="redButton" [routerLink]="['/student/class']" routerLinkActive="active"> Clases </a></span>
                        <span><a class="redButton" [routerLink]="['/student/teacher']" routerLinkActive="active"> Profesor</a></span>
                        <span><a class="redButton" [routerLink]="['/student/my-class']" routerLinkActive="active"> Mis cursos</a></span>
                    </div>
                    <div *ngIf="user.user.user_type == 1">
                        <span><a class="redButton" [routerLink]="['/admin']"> Administración </a></span>
                        <span><a class="redButton" [routerLink]="['/admin/user']"> Usuarios</a></span>
                        <span><a class="redButton" [routerLink]="['/admin/teacher']"> Profesores</a></span>
                        <span><a class="redButton" [routerLink]="['/admin/class']"> Clases</a></span>
                    </div>
                </div>
                

            </div>


            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Buscar clases o alumnos"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                </li> -->

                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <!-- <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a> -->
                    <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
                        <ul>
                            <li>
                                <div class="drop-title">You have 4 new messages</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="assets/images/users/1.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:30 AM</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="assets/images/users/2.jpg" alt="user"
                                                class="img-circle"> <span class="profile-status busy pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you
                                                at</span> <span class="time">9:10 AM</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="assets/images/users/3.jpg" alt="user"
                                                class="img-circle"> <span class="profile-status away pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span
                                                class="time">9:08 AM</span>
                                        </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="assets/images/users/4.jpg" alt="user"
                                                class="img-circle"> <span
                                                class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:02 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all
                                        e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->



                <!-- Profile -->

                <li *ngIf="user" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <ng-container *ngIf="user.user.avatar !== null">
                            <img [src]="'http://localhost:3000/uploads/'+ user.user.avatar" alt="user"
                            class="profile-pic" />
                            <div class="arrow-profile">
                                <img src="assets/images/icon/down-arrow.png" alt="">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="user.user.avatar === null">
                            <img src="assets/images/icon/user.png" alt="user"
                            class="profile-pic" />
                            <div class="arrow-profile">
                                <img src="assets/images/icon/down-arrow.png" alt="">
                            </div>
                        </ng-container>
                        </a>
                        
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <ng-container *ngIf="user.user.avatar !== null">
                                            <img [src]="'http://localhost:3000/uploads/'+ user.user.avatar" alt="user"
                                            class="profile-pic" />
                                        </ng-container>
                                        <ng-container *ngIf="user.user.avatar === null">
                                            <img src="assets/images/icon/user.png" alt="user"
                                            class="profile-pic" />
                                        </ng-container>
                                    </div>
                                    <div class="u-text">
                                        <h4><span class="user"> {{user.user.name}} {{user.user.last_name}}
                                            </span></h4>
                                        <p class="text-muted"><span class="user" *ngIf="user">{{user.user.email}}</span>
                                        </p><a [routerLink]="['/profile',user.user.user_id]" class="btn btn-rounded btn-danger btn-sm">Ver
                                            Perfil</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/profile',user.user.user_id]"><i class="ti-user"></i> Mi Perfil</a>
                            </li>
                            <div class="mobile-navbar">
                                <li role="separator" class="divider"></li>
                                <div *ngIf="user">
                                    <div *ngIf="user.user.user_type == 2">
                                        <li><a class="redButton buttom-mobile" [routerLink]="['home']"> Inicio </a></li>
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/teacher/my-class']"> Mis clases </a>
                                        </li>
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/teacher/dance-school']"> Escuela</a>
                                        </li>
                                    </div>
                                    <div *ngIf="user.user.user_type == 3">
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/home']"> Inicio </a></li>
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/student/class']"> Clases </a></li>
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/student/teacher']"> Profesor</a></li>
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/student/my-class']"> Mis cursos</a>
                                        </li>
                                    </div>
                                    <div *ngIf="user.user.user_type == 1">
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/admin']"> Administración </a></li>
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/admin/user']"> Usuarios</a></li>
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/admin/teacher']"> Profesores</a></li>
                                        <li><a class="redButton buttom-mobile" [routerLink]="['/admin/class']"> Clases</a></li>
                                    </div>
                                </div>
                            </div>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="logOut()"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="buttons">
                <span><a class="redButton btn btn-primary btn-lg" [routerLink]="['/login']" *ngIf="!user"> LOGIN </a></span>
                <!-- <span><a class="redButton" [routerLink]="['/register']"> REGISTER  </a></span> -->


            </div>

        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->