.dark-logo {
    width: 60px;
}

.light-logo {
    width: 60px;
}

.navbar-header {
    background-color: whitesmoke;
}

.navbar-collapse {
    background-color: whitesmoke;
}

.redButton {
    color: red;
    padding-left: 30px;
}
.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: whitesmoke;

}